DATABASE_URL="postgresql://postgres:YOUR_URL_ENCODED_PASSWORD@localhost:5432/YOUR_DATABASE"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="GENERATE_A_RANDOM_SECRET_AT_LEAST_32_CHARACTERS"
